<div class="alert alert-block alert-info" style="margin-top: 20px"><h1>Pandas</h1>
<code>By AKSHAY KASHYAP</code></div>

<hr><div class="alert alert-block alert-danger" style="margin-top: 20px">
    <code>Pandas</code> is a Python library designed for data manipulation and analysis.<br>
    It provides easy-to-use data structures and tools for cleaning, reshaping,<br>
    and analyzing structured data sets.
</div><hr>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [3]:
# defining data in dict
my_dataset = {
    'cars' : ['BMW', 'Volvo', 'Ford'],
    'passings' : [3,7,2]
}

In [4]:
print(my_dataset)

{'cars': ['BMW', 'Volvo', 'Ford'], 'passings': [3, 7, 2]}

In [5]:
type(my_dataset)

dict

In [6]:
m_data = pd.DataFrame(my_dataset) # converting in table

# m_data = pd.DataFrame(my_dataset, index = ['one', 'two', 'three']) # with index name

In [7]:
print(m_data)
type(m_data)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

pandas.core.frame.DataFrame

In [8]:
# column name & row index are not consider(in count)
print(m_data.shape) 
print(m_data.size) 
print(m_data.index)

(3, 2)
6
RangeIndex(start=0, stop=3, step=1)

In [9]:
m_data.drop(m_data.index, inplace = True) # delete all data(rows) but not schema(columnName & its datatype)

In [10]:
m_data

Empty DataFrame
Columns: [cars, passings]
Index: []

In [11]:
m_data.drop(m_data.columns, axis=1, inplace=True) # delete all columns, still it exists

In [12]:
m_data

Empty DataFrame
Columns: []
Index: []

In [13]:
type(m_data) # see, ah it still exists

pandas.core.frame.DataFrame

In [14]:
del m_data # delete it completely from memory

In [15]:
m_data # if error, then you completely deleted it, CONGRATS

NameError: name 'm_data' is not defined

<div class="alert alert-block alert-info" style="margin-top: 20px">
This was the very basics of  <code>Pandas</code>.
</div>