<div class="alert alert-block alert-info" style="margin-top: 20px"><h1>Pandas</h1>
<code>By AKSHAY KASHYAP</code></div>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

<hr><div class="alert alert-block alert-danger" style="margin-top: 20px">
    <h4>Let's try some <code>functions</code> </h4>
    Define our own functions
</div><hr>

In [3]:
#blank function
def my_fun(x, y):
    pass

In [4]:
# for square
def square(x):
    return x ** 2

In [5]:
# for average
def avg(x,y):
    return (x+y)/2

In [6]:
# for area
def area(x,y):
    return print(f"the area is {x*y} units")

In [7]:
# for half
def half(x):
    return x/2

In [8]:
my_fun(3,4)

In [9]:
square(5)

25

In [10]:
avg(3,4)

3.5

In [11]:
area(9,11)

the area is 99 units

<hr><div><code>assert</code> to check function, is it working well</div><hr>

In [12]:
# assert to check function, is it working well

assert avg(5,4) == 4.5 # no error or result if working well

In [13]:
data = pd.DataFrame({
    'a': [10, 20, 30],
    'b': [20, 30, 40]
})

In [14]:
data

    a   b
0  10  20
1  20  30
2  30  40

In [15]:
data[['a']]*2  #two [[]]

    a
0  20
1  40
2  60

In [16]:
# applying funtion on dataframe

data.apply(square)

     a     b
0  100   400
1  400   900
2  900  1600

In [17]:
# applying funtion on column

data['b'].apply(half)   # here one [],  always prefer to use [[]]

0    10.0
1    15.0
2    20.0
Name: b, dtype: float64

In [18]:
# exponentional func
def expo(x,e):
    return x ** e

In [19]:
data.apply(expo, e=3) # passing of 2nd argument is important

       a      b
0   1000   8000
1   8000  27000
2  27000  64000

In [20]:
# for printing data one by one
def print_d(x):
    print(x)

In [21]:
data.apply(print_d)  # important for concept

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [22]:
def avg_3(x,y,z):
    return (x+y+z)/3 

# see why its not working

In [23]:
data.apply(avg_3) # error

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [24]:
def avg_3_improved(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x+y+z)/3

In [25]:
data.apply(avg_3_improved)

a    20.0
b    30.0
dtype: float64

In [26]:
import numpy as np

In [27]:
def avg_col(c):
    return np.mean(c)

In [28]:
data.apply(avg_col)

a    20.0
b    30.0
dtype: float64

In [29]:
data['a'].mean()

20.0

In [30]:
data['a'] + data['b']

0    30
1    50
2    70
dtype: int64

In [31]:
# avg 
def avg_2_mod(x,y):
    if x== 10:
        return np.NaN # not literal meaning just to show function
    else:
        return (x+y)/2

In [32]:
avg_2_mod(data['a'],data['b'])  

# show error because it is not vectorized

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [33]:
import numpy as np

In [34]:
#pass the function to be vectorize, not avg_2_mod()

avg_2_mod_vector = np.vectorize(avg_2_mod)

# avg_2_mod_vector is now a function

In [35]:
avg_2_mod_vector(data['a'], data['b'])

array([nan, 25., 35.])

<hr><div class="alert alert-block alert-danger" style="margin-top: 20px">
    <h4>2nd method to vectorize <code>(using decorator)</code> </h4>
    <code>@decorator_name</code>
</div><hr>

In [36]:
@np.vectorize
def avg_2_mod(x,y):
    if x== 10:
        return np.NaN # not literal meaning just to show function
    else:
        return (x+y)/2
# function is copied from above
# function become vectorized

In [37]:
data

    a   b
0  10  20
1  20  30
2  30  40

In [38]:
avg_2_mod(data['a'], data['b'])

array([nan, 25., 35.])

<hr> <h3>performance checking </h3> 
if you didn't understand its okay (but numpy is much more faster than other) <hr>

In [39]:
# %%timeit is magic command use in Jupyter or IPython
%%timeit
avg(data['a'], data['b'])
# using col

########## run this on your machine it won't give error
########## still give error (its because to optizize the code, memory has been cleared by python itself)

UsageError: Line magic function `%%timeit` not found.

In [40]:
%%timeit
avg_2_mod(data['a'], data['b'])
# using numpy decorator

64.6 μs ± 587 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)